<div class="topics-table">
  <table cellspacing="1">
    <col/>
    <col width="85px"/>
    <col width="62px"/>
    <col width="120px"/>
    <tr>
      <th>Название</th>
      <th>Просмотров</th>
      <th>Ответов</th>
      <th>Обновлена</th>
    </tr>
    <%= render forum_topics %>
  </table>
  <%= will_paginate_topics forum_topics %>
</div>
