<% unless forum_topics.empty? %>
  <div class="topics-table">
    <table cellspacing="1">
      <tr>
        <th>Название</th>
        <th width="85px">Просмотров</th>
        <th width="70px">Ответов</th>
      </tr>
      <%= render forum_topics %>
    </table>
  </div>
<% end %>
