<div class="topics-table">
  <table cellspacing="1">
    <col/>
    <col width="85px">
    <col width="70px">
    <tr>
      <th>Название</th>
      <th>Просмотров</th>
      <th>Ответов</th>
    </tr>
    <%= render forum_topics %>
  </table>
</div>
