<tr>
  <td>
    <%= link_to h(forum.title), forum_path( forum ) %>
    <div class="desc"><%=h forum.description %></div>
  </td>
  <td>
    <%= button_to 'Правка', edit_forum_path( forum ), :method => :get %>
    <%= button_to 'X', forum_path( forum ), :method => :delete %>
  </td>
</tr>
