<% unless forums.empty? %>
  <div class="forums-table">
    <table>
      <tr>
        <th>Название</th>
        <th>Описание</th>
      </tr>
      <%= render forums %>
    </table>
  </div>
<% end %>
