<% @page_title = "Предмет " + h( @lesson_subject.name ) %>
<h2>Расписание > Просмотр предмета</h2>
<p>
  <b>Название:</b>
  <%=h @lesson_subject.name %>
</p>

<p>
  <b>Семестр:</b>
  <%=h @lesson_subject.term %>
</p>



<%= link_to 'Править', edit_lesson_subject_path(@lesson_subject) %> |
<%= link_to 'Назад', lesson_subjects_path %>
