body {
  font: normal 16px Arial, Helvetica, sans-serif; 
}

.outer-wrapper {
  margin: 0 auto;
  width: 750px;
}

.header {
  background-color: #7a6bac;
  padding: 10px 5px;
  margin-bottom: 5px;
}

.header h1 {
  text-align: center;
  font-size: 170%;
  color: #efdfef;
}

.navbar {
  margin: 0 -3px 0 -3px;
}

.navbar .navitem {
  background-color: #8abc7b;
  width: 240px;
  margin: 0 3px 0 3px;
  float: left;
  text-align: center;
  font-size: 130%;
  padding: 3px;
}

.navbar #navitem-selected {
  background-color: #8aec7b
}

.navbar .navitem:hover, .navbar #navitem-selected:hover {
  background-color: #83ba00;
}

.navbar ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  display: block;
  text-decoration: none;
  color: #003300;
}

.content {
  padding: 10px;
  margin-top: 6px;
  clear: both;
  background-color: #cccccc;
}

.content h2 {
  margin: 10px 0;
  font-size: 150%;
}

.narrow-part {
  padding: 0 75px;
}

.footer {
  margin-top: 6px;
  background-color: #ee9999;
  text-align: center;
  padding: 3px;
}

