<% @page_title = "Редактирование профиля" %>
<h2>Редактирование профиля</h2>

<% semantic_form_for @user, :url => profile_url do |f| %>
  <%= f.input :group, :required => false %>
  <% f.buttons do %>
    <%= f.commit_button "Сохранить" %>
  <% end %>
<% end %>

<%= link_to "Просмотреть профиль", user_path( @user ) %> | <%= link_to "Редактировать аккаунт", account_path %>
