<% @page_title = "Просмотр профиля" %>
<h2>Пользователь <%= h @user.nickname %></h2>

<% time_since_last_request = Time.now - @user.last_request_at %>
<p align="center">
  <% if time_since_last_request < 5.minutes %>
    <span class="online">Online</span>
  <% else %>
    <span class="offline">Offline</span>, вышел <%= time_ago_in_words @user.last_request_at %> назад
  <% end %>
</p>

<p>
  <b>Группа:</b>
  <% if @user.group.blank? %>
    <i>(не указана)</i>
  <% else %>
    <%= link_to_group @user.group %>
  <% end %>
</p>
