<% @page_title = "Расписание" %>
<h1>Расписание</h1>
<p>...Тут будет офигительное расписание, а пока можно:</p>
<%= link_to_schedule nil, :day, :group => Group.first, :content => "Посмотреть ближайшее расписание первой попавшейся группы" %>
<br/><%= link_to_schedule nil, :week, :group => Group.first, :content => "Посмотреть ближайшее расписание на неделю первой попавшейся группы" %>
<br/><%= link_to "Посмотреть и изменить список предметов", lesson_subjects_path %>
<br/><%= link_to "Добавить ещё занятие", new_lesson_path %> (так же это можно сделать со страницы расписания на день)
