<h1>Расписание</h1>
<p>...Тут будет офигительное расписание, а пока можно:</p>
<%= link_to "Посмотреть ближайшее расписание первой попавшейся группы", today_schedule_path + "?group_id=" + Group.first.id.to_s %>
<br/><%= link_to "Посмотреть и изменить список предметов", lesson_subjects_path %>
<br/><%= link_to "Добавить ещё занятие", new_lesson_path %> (так же это можно сделать со страницы расписания на день)
