<% @page_title = "Загрузки" %>
<h2>Список загрузок<%= " помеченных тег#{Russian.p( @tags.count, "ом", "ами", "ами" )} #{links_to_tags @tags}" if @tags %></h2>

<%# TODO: кнопку ввода своих тегов %>

<% if current_user_has_role? :upload_moderator %>
<p>
  <%= link_to "Добавить", new_resource_path %>
</p>
<% end %>

<table>
  <th>
    <td>Имя</td>
    <td>Описание</td>
  </th>
  <% collection.each do |res| %>
  <tr>
    <td><%= link_to h(res.name), res %></td>
    <td><%=h res.description %></td>
  </tr>
  <% end %>
</table>
