<% link_to lesson_path( lesson), :class => "lesson-week-cell" do %>
  <span class="<%= Russian.translit lesson.type.name %>"><%= lesson.subject.short_name %></span>
  <br/>
  <span class="room"><%=h lesson.room %>
<% end %>
