  <tr>
    <td><%=link_to h( teacher.name ), teacher_path( teacher )%></td>
    <td><%=link_to h( teacher.surname ), teacher_path( teacher )%></td>
    <td><%= link_to 'Править', edit_teacher_path(teacher) %></td>
  </tr>

