<div class="posts-table">
  <table>
    <col width="130px">
    <col>
    <col width="60 px">
    <%= render forum_posts %>
  </table>
  <%= will_paginate_posts forum_posts if forum_posts.is_a? WillPaginate::Collection %>
</div>
