<% @page_title = "Редактирование сообщения" %>
<h2>Редактирование сообщения в теме "<%=h @forum_post.topic.title %>"</h2>

<%= render :partial => "form", :locals => {:forum_post => @forum_post} %>

<%= link_to 'Назад', forum_topic_path( @forum_post.topic ) %>
