<% @page_title = "Ответить" %>
<h2>Ответить в теме "<%=h @forum_post.topic.title %>"</h2>

<%= render :partial => "form", :locals => {:forum_post => @forum_post} %>

<%= link_to 'Назад', forum_topic_path( @forum_post.topic ) %>
