<% @page_title = "Справочная информация" %>
<h2>Справочная информация</h2>
<ul>
  <li><%= link_to 'Группы', groups_path %><br>Список зарегистрированных на сайте академических групп</li>
  <li><%= link_to 'Преподаватели', teachers_path %><br>Список зарегистрированных на сайте преподавателей</li>
</ul>
