<% title "Главная страница" %>

<div class="narrow-part">
  <h2>Давайте споем!</h2>
  <p>
    <%= format_text <<EOF
      Я уселся на окне
      И гляжу на улицу —
      Фонари сутулятся
      В сигаретном облаке.

      Припев:

      А на Пирогова приходит снова весенний гомон,
      И по лужам грязным бегут потоки девчонок разных.
      А на Пирогова стоит мой город трех тысяч судеб
      И огромных сосен вечнозеленых, вечнопрекрасных.

      Говорят, что в Арктике
      Климат не меняется.
      Как там люди маются —
      Бедные полярники!

      Припев.

      Вот наш Универ стоит
      Строгий и внимательный.
      Говорят, что в мире нет
      Вуза Alma Materней.

      Припев.
EOF
    %>
  </p>
</div>
